@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;300&display=swap");

body {
  margin: 0;
  padding: 0;
  background: #222429;
  color: #e0e4e4;
  font-family: "IBM Plex Mono", monospace;
  box-sizing: border-box;
}
